<div id="cup">
  <ul class="anim">
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
  </ul>
  <div id="plate">
  </div>
</div>
