<style>
html {
  background: rgba(0, 95, 146, 1);
  height: 100vh;
}

#cup {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* For the coffee */
#cup:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  border-radius: 50%;
  background: #421300;
  border: solid 7px #FFF;
  box-sizing: border-box;
  transform: translateY(-50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

#cup:after {
  content: "";
  position: absolute;
  top: 45%;
  right: -45%;
  height: 90px;
  width: 100px;
  border-radius: 100%;
  background: transparent;
  border: solid 13px #FFF;
  box-sizing: border-box;
  transform: translateY(-50%);
}

#plate {
  width: 250px;
  height: 30px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background: #FFF;
  position: absolute;
  top: 162px;
  transform: translateX(-50px);
  box-shadow: 4px 4px 10px (0, 0, 0, 0.5);
}

ul.anim {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -50px;
  transform: translateX(10%);
  width: 100%;
}

ul li.anim {
  list-style-type: none;
  width: 2px;
  height: 40px;
  background: #FFF;
  float: left;
  margin: 10px;
  animation: hotwaves 2s linear infinite;
}

@keyframes hotwaves {
  0% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
    filter: blur(5px);
  }
}

ul li:nth-child(1) {
  animation-delay: .2s;
}

ul li:nth-child(2) {
  animation-delay: .6s;
}

ul li:nth-child(3) {
  animation-delay: .1s;
}

ul li:nth-child(4) {
  animation-delay: .4s;
}

ul li:nth-child(5) {
  animation-delay: .5s;
}

.reward {
  height: 100vh;
}
.reward-text {
  font-family: 'Luna', cursive;
  font-size: 2.4rem;
  text-align:center;
  color: white;
}

.reward-text.above {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reward-text.below {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

<div id="cup">
  <ul class="anim">
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
  </ul>
  <div id="plate">
  </div>
</div>
<p class="reward-text above">You redeemed your stamp card!</p>
<p class="reward-text below">Show this delightful animation to the cashier and collect your free refill</p>
