<% include ../partials/header %>

<div class="reward">
<div id="cup">
  <ul class="anim">
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
    <li class="anim"></li>
  </ul>
  <div id="plate">
  </div>
</div>
<p class="reward-text above">You redeemed your stamp card!</p>
<p class="reward-text below">Show this delightful animation to the cashier and collect your free refill!</p>
</div>
<% include ../partials/footer %>
