
</div>
</div>
<footer>
  <p class="footer-content"><a href="#">SOME TEXT</a></p>
  <p class="some-icons">
    <a href="#"><i class="fab fa-instagram icon"></i></a>
    <a href="#"><i class="fab fa-twitter icon"></i></a>
    <a href="#"><i class="fab fa-facebook-square icon"></i></a>
  </p>
</footer>

</body>
</html>
