</div>
</div>

<footer>

  <br>
  <div class="d-flex justify-content-center">
<div class="text-center">
  <img src="/img/appicon.png" alt="Stamping reusable cup logo" width="120" height="120">
  <br>
    <div class="text-center">
    <a href="#"><i class="fab fa-instagram icon"></i></a>
    <a href="#"><i class="fab fa-twitter icon"></i></a>
    <a href="#"><i class="fab fa-facebook-square icon"></i></a>
  </div>
  <div class="contact-info text-center">
    <p><strong>Contact us:</strong></p>
    <p><strong>hello@stamping.com</strong></p>
  </div>
<p class="copyright d-flex align-items-end justify-content-center m-3">&copyStamping&nbsp<i id="year"></i></p>
</div>
</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript" src="/main.js"></script>
</body>
</html>
