<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="container">
<a href="/">Home</a>
<a href="/campaigns">Campaigns</a>
<a href="/companies">Companies</a>
<a href="/rewards">Rewards</a>

<%if(!currentUser) {%>
<a href="/business/auth">Business</a>
<a href="/login">Login</a>
<a href="/register">Sign up</a>
<% } else if(currentUser.role) { %>
<a href="/customers/USERNAME/cards">Profile</a>
<a href="/logout">Logout</a>
<% } else { %>
<a href="/companies/COMPANYNAME/admin">Admin</a>
<a href="/logout">Logout</a>
<% } %>
</nav>
</div>

<br>
<div class="frame">
  <div class="container-fluid">