<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stamping</title>
  <link rel="shortcut icon" type="image/x-icon" href="/img/appicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/appicon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/img/appicon.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/img/appicon.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/img/appicon.png" />
  <link href="/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
<% include ../partials/navbar %>

<div class="frame">
  <div class="container-fluid">

	<% if(error && error.length > 0) { %>
		<div class="alert alert-warning" role="alert">
			<%= error %>
		</div>
	<% } %>
	<% if(success && success.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
