<!DOCTYPE html>
<html>
<head></head>
<body>
<a href="/">home</a> | 
<a href="/campaigns">campaigns</a> | 
<a href="/companies">companies</a> | 
<a href="/rewards">rewards</a> | 
<a href="/login">login</a>
<br>