<!DOCTYPE html>
<html>
<head></head>
<body>
<a href="/">home</a> | 
<a href="/campaigns">campaigns</a> | 
<a href="/companies">companies</a> | 
<a href="/rewards">rewards</a> | 

<%if(!currentUser) {%>
<a href="/login">login</a> | 
<a href="/register">sign up</a>
<% } %>

<%if(currentUser) {%>
 <a href="/logout">logout</a>
<% } %>

<br>