<nav class="navbar justify-content-center">
	<div class="container">
		<a class="navbar-brand stamping-logo" href="/">Stamping</a>
		<a class="nav-item nav-link" href="/campaigns">Campaigns</a>
		<a class="nav-item nav-link" href="/companies">Participants</a>
		<a class="nav-item nav-link" href="/rewards">Rewards</a>

		<%if(!currentUser) {%>
		<a class="nav-item nav-link" href="/business/auth">Business</a>
		<a class="nav-item nav-link" href="/login"><strong>Login</strong></a>
		<a class="nav-item nav-link" href="/register"><strong>Sign up</strong></a>
		<% } else if(currentUser.role) { %>
		<a class="nav-item nav-link" href="/customers/USERNAME/cards">Profile</a>
		<a class="nav-item nav-link" href="/logout">Logout</a>
		<% } else { %>
		<a class="nav-item nav-link" href="/companies/COMPANYNAME/admin">Admin</a>
		<a class="nav-item nav-link" href="/logout">Logout</a>
		<% } %>
	</div>
</nav>