<% if(!currentUser || currentUser.role) { %>
<form action="/campaigns" id="get_card_form">
<input type="submit" class="btn btn-primary" form="get_card_form" value="Get Card"> | </form> | 
<form action="/campaigns" id="request_stamp_form"></form> | 

<input type="submit" class="btn btn-primary" form="request_stamp_form"value="Request Stamp"> | 


<% } %>