/* DOM Native elements */

html {
  height: 100vh;
  font-size: 16px;
}

body {

}

a {
  color: rgba(110, 181, 192, 1) !important;
  letter-spacing: 0.1rem;
}

a:hover,
a:active {
  color: rgba(0, 108, 132, 1) !important;
  text-decoration: none !important;
}

/*a:visited {
  color: rgba(110, 181, 192, 1) !important;
}*/

ul {
  list-style: none;
}

/* COMMON */

.stamping-logo {
  font-family: 'Pacifico', cursive;
  color: rgba(0, 108, 132, 1);
  font-size: 1.5rem !important;
}

.btn {
  background-color: rgba(255, 204, 187, 1) !important;
  border: none !important;
  color: rgba(110, 181, 192, 1) !important;
  letter-spacing: 0.1rem;
}

.btn:hover,
.btn:active,
.btn.focus {
  background-color: rgba(255, 204, 187, .7) !important;
  color: rgba(0, 108, 132, 1) !important;
}

.card {
  background: rgba(226, 232, 228, 1) !important;
  margin-bottom: 2rem;
}

.fa-coffee {
  font-size: 2rem;
}

/* *********************************************************************** */
/* PARTIALS */

/* Header */
.container-fluid {
  background-color: rgba(255, 204, 187, 0.3);
  background-size: cover;
  height: 100%;
  color: rgba(0, 108, 132, 1);
}

.frame {
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1466094899371-97b327dff551?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5da4f459969e80c7381ce874c6b026ef&auto=format&fit=crop&w=2550&q=80');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* Navigation bar */
.navbar {
  background-color: rgba(255, 204, 187, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Footer */

footer {
  background-color: rgba(255, 204, 187, 1);
  height: 15rem;
  text-align: center;
  padding: 2rem;
}

.footer-content {

}

/* Redeem */
/* Request */

/* *********************************************************************** */
/* COMMON */
/* Campaign */
/* Campaigns */
.campaigns {

}
/* Index */
/* Login */
.login-heading {
  text-align: center;
  margin: 1.2rem 0;
  letter-spacing: 0.2rem;
}

.login {
  display: flex;
  justify-content: center;
}

.login-style {
  color: rgba(0, 108, 132, 1);
}

.not-registered{}

/* Register */
.register-heading {
  text-align: center;
}

.register {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.customer-signup {
  padding: 3rem;
  float: left;
  display: block;
}

.company-signup {
  padding: 3rem;
  float: left;
  display: block;
}

/* Reward */
/* Rewards */

/* *********************************************************************** */
/* COMPANY */
/* Admin */
/* Index */
/* Profile */

/* *********************************************************************** */
/* CUSTOMER */
/* Cards */
/* Profile */
/* Stampcard */

/* PAGES */
/* Stamping */
.stamping {
  height: 100vh;
  color: rgba(0, 108, 132, 1);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.stamping-title {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  color: rgba(0, 108, 132, 1);
}

.icon {
  color: rgba(110, 181, 192, 1);
  font-size: 2rem;
  margin-left: 1rem;
}

.icon:hover,
.icon:active,
.icon:focus {
  color: rgba(0, 108, 132, 1)
}
