/* DOM Native elements */

@font-face {
    font-family: 'Luna';
    src: url('/fonts/Luna.ttf');
}

html {
  height: 100vh;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

a {
  color: rgba(106, 165, 210, 1) !important;
  letter-spacing: 0.1rem;
}

a:hover,
a:active {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
}

/*a:visited {
  color: rgba(110, 181, 192, 1) !important;
}*/

ul {
  list-style: none;
}

/* COMMON */

.btn {
  background-color: rgba(0, 95, 146, 1) !important;
  border: none !important;
  color: rgba(255, 255, 255, 1) !important;
  letter-spacing: 0.1rem;
}

.btn:hover,
.btn:active,
.btn.focus {
  background-color: rgba(106, 165, 210, 1) !important;
}

.card {
  background: rgba(36, 31, 32, .7) !important;
  margin-bottom: 2rem;
  box-shadow: 0 2px 3px rgba(36, 31, 32, .3);
}

/* *********************************************************************** */
/* PARTIALS */
/* Navigation bar */

.stamping-logo {
  font-family: 'Luna', cursive;
  font-size: .7rem !important;
}
.container-fluid {
  background-color: rgba(0, 95, 146, 0.2);
  background-size: cover;
  height: 100%;
  color: rgba(255, 255, 255, 1);
}

.frame {
  height: 100%;
  background-image: url('/img/Sea_photo.jpeg');
  background-size: cover;
  background-attachment: fixed;
  position: static;
  z-index: -99;
}

.fitscreen {
  height: 100vh;
}

.navbar {
  background-color: rgba(0, 95, 146, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.fa-bars {
  color: rgba(106, 165, 210, 1);
}

.fa-bars:hover,
.fa-bars:focus,
.fa-bars:active {
  color: rgba(255, 255, 255, 1);
}

/* Footer */

footer {
  background-color: rgba(0, 95, 146, 1);
  height: 15rem;
  text-align: center;
  padding: 2rem;
}

.footer-content {

}

/* *********************************************************************** */
/* COMMON */
/* Campaign */
/* Campaigns */
.campaigns {
  height: 100vh;
}

.campaign-heading {
  text-align: center;
}

.campaign-title {
  font-family: 'Luna', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 200px;
  width: 250px;
  /* Has to be kept same as image dimensions */
  background-color: rgba(36, 31, 32, .5);
}

.campaign-title:hover {
  background-color: rgba(36, 31, 32, .2);
}


.img-container {
    height: 200px;
    width: 250px;
    display: inline-block;
    overflow: hidden;
}

img.container img.campaigns {
  width: 100%;
}

img.campaigns {
  display: inline;

}

.campaign-bg {
  background: rgba(36, 31, 32, .1);
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 1rem;
  margin: 1rem 0;
  box-shadow: 0 1px 3px rgba(36, 31, 32, .3);

}

a.view-link {
  color: rgba(255, 255, 255, 1) !important;
}

/* Index */
.companies {
  text-align: center;
}

.companies-style {
  color: rgba(255, 255, 255, 1);
}

/* Login */
.login-heading {
  text-align: center;
  margin: 1.2rem 0;
  letter-spacing: 0.2rem;
}

a.login {
  color: rgba(255, 255, 255, 1);
}

.login-style {
  color: rgba(255, 255, 255, 1);
}

.not-registered{}

/* Register */
.register-heading {
  text-align: center;
}

.customer-signup {
  padding: 3rem;
  float: left;
  display: block;
}

.company-signup {
  padding: 3rem;
  float: left;
  display: block;
}

/* *********************************************************************** */
/* COMPANY */
/* Admin */
/* Index */
/* Profile */

/* *********************************************************************** */
/* CUSTOMER */
/* Cards */
.stamp-card {
  background: linear-gradient(#6AA5D2A1, #3FBFBFA1, #005F92A1, #6AA5D2A1, #3FBFBFA1);
  box-shadow: 0 3px 5px rgba(36, 31, 32, .3);
}

.stamp-position {
  text-align: center;
}

.fa-coffee {
  font-size: 2rem;
  color: white;
}

/* Profile */
/* Stampcard */

/* PAGES */
/* Stamping */
.stamping {
  height: 100vh;
  color: rgba(255, 255, 255, 1);
}

.stamping-title {
  font-family: 'Luna', cursive;
  text-align: center;
}

.icon {
  color: rgba(106, 165, 210, 1);
  font-size: 2rem;
  margin-left: 1rem;
}

.icon:hover,
.icon:active,
.icon:focus {
  color: rgba(255, 255, 255, 1);
}
