<% include ../partials/header %>
<br>
<br>
<div class="row">
	<div class="col-sm-3">
		<div class="list-group card p-3">
			<h2>Campaigns</h2>
			<ul>
				<% for(var i = 0; i < campaigns.length; i++) { %>
				<a href="/admin/<%= campaigns[i].title %>" class="list-group-item"><%= campaigns[i].title %></a>
				<% } %>
			</ul>
		</div>
	</div>
	
	<div class="col-sm-6">
		<div class="card p-3">
			<h2>New campaign</h2>
			<form action="/admin/campaigns" id="newcampaign"  method="POST">
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" class="form-control" name="title" placeholder="insert title" required>
				</div>
				
				<div class="form-group">
					<label for="description">Desciption</label>
					<textarea class="form-control" rows="3" name="comment" name="description" placeholder="Describe your campaign" required></textarea>
				</div>
				<div class="row">
					<div class="form-group col">
						<label for="reward">Reward</label>
						<input type="text" class="form-control" name="reward" placeholder="Reward for campaign" required>
					</div>
					<div class="form-group col">
						<label for="stamps">Stamps needed</label>
						<input type="number" class="form-control" name="stamps" placeholder="How many needed" required>
					</div>
				</div>
				<div class="form-group">
					<label for="image">Image</label>
					<input type="text" class="form-control" name="image" placeholder="insert image url">
				</div>
				<div class="row">
					<div class="form-group col">
						<label for="start">Starting date</label>
						<input type="date" class="form-control" name="start" placeholder="Enter starting date" required>
					</div>
					<div class="form-group col">
						<label for="end">Ending date</label>
						<input type="date" class="form-control" name="end" placeholder="Enter ending date" required>
					</div>
				</div>
				<input type="submit" class="btn btn-primary" value="Deploy">
			</form>
			<br>
		</div>
	</div>
<!--
	<div class="col-sm-3">
		<div class="card p-3">
			<p>user object for debugging: <%= //user %></p>
		</div>
		<br>
		<div class="card p-3">
			<p>campaigns object for debugging: <%= //campaigns %></p>
		</div>
	</div>
-->
</div>
<% include ../partials/footer %>


