<% include ../partials/header %>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
<h1 class="pt-3 companies">All Companies</h1>
<ul>
<% for(var i = 0; i < companies.length; i++) { %>
	<li class="campaign-bg">
		<img src="<%= companies[i].image %>" width="50px" height="50px">
		<br>
		<a class="companies-style" href="/companies/<%= companies[i].id %>"><%= companies[i].username %><a/>
		<br>
	</li>
	<br>
	<br>
<% } %>
</ul>

</div>
</div>

<% include ../partials/footer %>
