<% include ../partials/header %>

<ul>All companies list: 
	<li>
		<img src="https://pbs.twimg.com/profile_images/844080964196319233/DbhESg8S_400x400.jpg" width="50px" height="50px">
		<a href="/companies/nordicoceanwatch">NOW<a/>
		<ul>campaigns
			<li><a href="/campaigns/circularmay">#circularMay</a></li>
			<li><a href="/campaigns/now2">nowcampaign2</a></li>
			<li><a href="/campaigns/now3">nowcampaign3</a></li>
		</ul>
	</li>
	<li>
		<img src="https://pbs.twimg.com/profile_images/3383114285/4a78a47c94d860b78532e4eaf913e907_400x400.png" width="50px" height="50px">
		<a href="/companies/unicafe">Unicafe<a/>
		<ul>campaigns
			<li><a href="/campaigns/circularmay">#circularMay</a></li>
		</ul>
	</li>
	
</ul>
<% include ../partials/footer %>