<% include ../partials/header %>



	<h1><%= company.username %></h1>
	<img src="<%= company.image %>" width="200px" height="200px">
	<br>
	<p>campaigns</p>
	<ul>
<% for(var j = 0; j < company.campaigns.length; j++) { %>
	<a href="/campaigns/<%= company.campaigns[j]._id %>"><li>
		<%= company.campaigns[j].title %>
	</li><a/>
<% } %>
	</ul>
	<br>
	<br>



<% include ../partials/footer %>