<% include ../partials/header %>

<img src="https://pbs.twimg.com/profile_images/844080964196319233/DbhESg8S_400x400.jpg">
<a href="/companies/nordicoceanwatch">NOW<a/>
<p>
	Nordic Ocean Watch is a nordic organisation that cares about our oceans. They organise beach cleanups and other campaigns
</p>
<ul>campaigns
	<li><a href="/campaigns/circularmay">#circularMay</a></li>
	<li><a href="/campaigns/now2">nowcampaign2</a></li>
	<li><a href="/campaigns/now3">nowcampaign3</a></li>
</ul>
<% include ../partials/footer %>