<% include ../partials/header %>
<br>
<br>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="card p-3">
			<h2 class="login-heading">Login</h2>
			<div class="#">
					<form action="/login/company" method="post">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" name="username" placeholder="username">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" name="password" placeholder="password">
						</div>
						<input type="submit" class="btn btn-primary" value="Log In">
					</form>

			<h4 class="login-heading mt-5">Or register here:</h4>
			<div class="register">
					<form action="/register/company" method="post">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" name="username" placeholder="username" required>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" name="email" placeholder="example@gmail.com" required>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<div class="input-group-prepend">
      							<div class="input-group-text" onmouseover="document.getElementById('inputPassword').type='text'" onmouseout="document.getElementById('inputPassword').type='password'"><i class="fas fa-eye"></i></div>
							<input type="password" class="form-control" name="password" placeholder="password" id="inputPassword"  required>
							</div>
						</div>
						<input type="submit" class="btn btn-primary" value="Sign up">
					</form>
			</div>
		</div>
	</div>
</div>
</div>
<% include ../partials/footer %>
