<% include ../partials/header %>

<div class="stamping">
	<div class="stamping-text">
		<h1 class="stamping-title">Stamping</h1>
		<br>
		<br>
		<h2>Stamping is a stamp card management platform service solution</h2>
		<br>
		<br>
		<h3>The service is being piloted and available at Unicafe's locations in relation to the Nordic Ocean Watch <a href="/campaigns/circularmay">#circularMay</a> campaign for reusing coffee cups</h3>
	</div>
</div>
<% include ../partials/footer %>
