<% include ../partials/header %>

<div class="stamping">

  <div class="stamping-text">
<h1 class="stamping-title">Stamping</h1>
<br>
<br>
<h2>Stamping is a stamp card management platform service solution</h2>
<br>
<br>
<h3>The service will be piloted by the Nordic Ocean Watch in its <a href="/campaigns/circularmay">#circularMay</a> campaign for reusing and refilling coffee</h3>
</div>
</div>
<% include ../partials/footer %>
