<% include ../partials/header %>

<br>
<h1>Stamping</h1>
<br>
<br>
<h2>Stamping is a stamp card management platform service solution</h2>
<br>
<br>
<h3>The service will be piloted by the Nordic Ocean Watch in its #circularMay campaign for reusing and refilling coffee</h3>

<% include ../partials/footer %>