<% include ../partials/header %>

<br>
<br>

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="card bg-light p-3">

<h2 class="register-heading">Register</h2>
<div class="register">
	<span class="customer-signup">

<form action="/register/customer" method="post">
	<div class="form-group">
		<label for="#">Customer sign up</label>
		<br>
		<label for="username">Username</label>
		<input type="text" class="form-control" name="username" placeholder="username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="text" class="form-control" name="password" placeholder="password">
	</div>

	<input type="submit" class="btn btn-primary" value="Sign up">
</form>
</span>
</div>

</div>
</div>
</div>
<% include ../partials/footer %>
