<% include ../partials/header %>

<br>
<br>

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<div class="card p-3 login-style">

<h2 class="login-heading">Customer registration</h2>
<div class="login register">
	<span>
<form action="/register/customer" method="post">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" name="username" placeholder="Username">
		<label for="username">Email</label>
		<input type="text" class="form-control" name="email" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="text" class="form-control" name="password" placeholder="Password">
		<label for="password">Confirm password</label>
		<input type="text" class="form-control" name="confirm_password" placeholder="Confirm password">
	</div>
	<input type="submit" class="btn" value="Sign up">
</form>
</span>
</div>

</div>
</div>
</div>
<% include ../partials/footer %>
