<% include ../partials/header %>

<br>
<br>

<p>customer sign up</p>
<form action="/register/customer" method="post">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" name="username" placeholder="username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="text" class="form-control" name="password" placeholder="password">
	</div>
	
	<input type="submit" class="btn btn-primary" value="Sign up">
</form>

<br>
<br>

<p>company sign up</p>
<form action="/register/company" method="post">
	<div class="form-group">
		<label for="image">Image URL</label>
		<input type="text" class="form-control" name="image" placeholder="https://pbs.twimg.com/profile_images/844080964196319233/DbhESg8S_400x400.jpg">
	</div>
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" name="username" placeholder="username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="text" class="form-control" name="password" placeholder="password">
	</div>
	<input type="submit" class="btn btn-primary" value="Sign up">
</form>


<% include ../partials/footer %>