<% include ../partials/header %>

<h1><%= id %></h1>
<img src="https://rlv.zcache.com.au/refill_please_coffee_mug-re2bafd0c472f43d486cbd1b64f733348_x7jgr_8byvr_540.jpg">
<br>
<p>coffee refill for reusing coffee cups<p>
<br>
<a href="#">request stamp</a>

<% include ../partials/footer %>