<% include ../partials/header %>

<ul>All rewards:
	<li>
		<img src="https://rlv.zcache.com.au/refill_please_coffee_mug-re2bafd0c472f43d486cbd1b64f733348_x7jgr_8byvr_540.jpg" height="50" width="50">
		<br>
		<p>coffee refill for reusing coffee cups<p>
		<br>
		<a href="#">request stamp</a> | <a href="/rewards/coffee">view</a>
	</li>
	<li>
		<img src="https://rlv.zcache.com.au/refill_please_coffee_mug-re2bafd0c472f43d486cbd1b64f733348_x7jgr_8byvr_540.jpg" height="50" width="50">
		<br>
		<p>coffee refill for reusing coffee cups<p>
		<br>
		<a href="#">request stamp</a> | <a href="/rewards/coffee">view</a>
	</li>
	<li>
		<img src="https://rlv.zcache.com.au/refill_please_coffee_mug-re2bafd0c472f43d486cbd1b64f733348_x7jgr_8byvr_540.jpg" height="50" width="50">
		<br>
		<p>coffee refill for reusing coffee cups<p>
		<br>
		<a href="#">request stamp</a> | <a href="/rewards/coffee">view</a>
	</li>
</ul>

<% include ../partials/footer %>