<% include ../partials/header %>

<h1><%= reward.title %></h1>
<img src="<%= reward.image %>" width="200px" height="200px">
<br>
<p><%= reward.description %><p>
<br>
<% include ../partials/request %>

<% include ../partials/footer %>