<% include ../partials/header %>
<h1><%= id %></h1>
<h1>My Stamp cards</h1>
<br>
<ul>
	<li><p>#circularMay | Card number: 1 | Stamps: 6 | <strike>Redeemed</strike></li>
	<li><p>#circularMay | Card number: 2 | Stamps: 6 | <strike>Redeemed</strike></li>
	<li><p>#now2 | Card number: 3 | Stamps: 0 | <% include ../partials/request %> | <% include ../partials/redeem %></p></li>
	<li><p>#circularMay | Card number: 4 | Stamps: 4 | <% include ../partials/request %> | <% include ../partials/redeem %></p></li>
</ul>

<br>




<% include ../partials/footer %>