<% include ../partials/header %>

<h1>My page</h1>
<br>
<ul>my stamp cards
	<li>#circularMay | Card number: 1 | Stamps: 6 | <a href="#">View</a> | <strike>Redeemed</strike></li>
	<li>#circularMay | Card number: 2 | Stamps: 6 | <a href="#">View</a> | <a href="#">Redeem</a></li>
</ul>

<% include ../partials/footer %>