<% include ../partials/header %>

<h1>My page</h1>
<br>
<ul>my stamp cards
	<li>#circularMay | Card number: 1 | Stamps: 6 | <% include ../partials/request %> | <% include ../partials/redeem %> </li>
	<li>#circularMay | Card number: 2 | Stamps: 6 | <% include ../partials/request %> | <% include ../partials/redeem %> </li>
</ul>

<% include ../partials/footer %>