<% include ../partials/header %>
<h1><%= id %></h1>
<h1>My Stamp card: <%= stampcard %></h1>
<br>

<i class="fas fa-coffee"></i>
<i class="fas fa-coffee"></i>
<i class="fas fa-coffee"></i>
<i class="fas fa-coffee"></i>
<i class="fas fa-coffee"></i>
<i class="fas fa-coffee"></i>

<p>#circularMay | Card number: 1 | Stamps: 6 | <% include ../partials/request %> | <% include ../partials/redeem %></p>
<br>




<% include ../partials/footer %>
